@using TeknikDestek.Entities.ValueObject
@model LoginViewModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TEKNİK DESTEK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>

    <link href="~/Content/Login2.css" rel="stylesheet" />
    <link href="~/Content/login-register.css" rel="stylesheet" />
</head>
<body>

    <div class="cont">
        <div class="demo">
            <div class="login">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(false)
                    <div class="login__check"></div>
                    <div class="login__form">
                        <div class="login__row">
                            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                                <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                            </svg>

                            @Html.TextBoxFor(model => model.userName, new { @class = "login__input name", placeholder = "Kullanıcı adınız", type = "text"})


                        </div>
                        <div class="login__row">
                            <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                                <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                            </svg>


                            @Html.TextBoxFor(model => model.password, new { @class = "login__input pass", placeholder = "Şifreniz", type = "password" })

                        </div>
                        <button type="submit" class="login__submit">Giriş</button>
                        <p class="login__signup">TEKNİK DESTEK &nbsp;<a></a></p>
                    </div>
                }
            </div>
        </div>
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="~/Scripts/index.js"></script>
</body>
</html>
